#app {
    background: rgb(251, 255, 255);

    .el-main {
        &>div {
            min-height: 100%;
        }
    }

    .el-aside {
        box-shadow: 0 0 15px rgb(219, 224, 228);
    }
}


.mini-scroll {
    overflow: auto;

    //滚动条整体部分
    &::-webkit-scrollbar {
        width: 2px;
        height: 100%;
    }

    //滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
		background: rgb(223, 223, 223);
    }
}