.Login {
    $background-color: #1D1E21;
    width: 100vw;
    height: 100vh;
    background: $background-color;
    // background-image: linear-gradient(26deg, #f6f6f6, #acf0cb 60%, rgb(143, 233, 188) 80%, #298ee0);

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px 30px;
        width: 260px;
        border-radius: 20px;
        backface-visibility: hidden;
        // box-shadow: 3px 3px 6px rgba(#000000, 0.6),
        //     -3px -3px 6px rgba(211, 211, 211, 0.5);
        box-shadow: 0 0 20px rgba(#17171A, 1);
        border-radius: 20px;
        transition: all 1s;
        color: #ffffff;
        opacity: 1;
        background: #2B2F33;

        &.show {
            transform: translate(-50%, -50%) rotateY(0deg);
        }

        &.hide {
            transform: translate(-50%, -50%) rotateY(180deg);
            opacity: 0;
        }

        .title {
            position: absolute;
            top: -15px;
            width: 100%;
            left: 0;
            font-size: 50px;
            transform: translateY(-100%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
            color: $background-color;
            font-weight: 1000;
            text-shadow: -1px -1px 3px white,
                1px 1px 3px #000;
        }

        .el-form-item {
            margin-bottom: 30px;
        }

        .el-form-item__error {
            //验证提示样式
            color: $color-danger;
            padding: 5px 20px;
        }

        input {
            padding: 0 20px;
            height: 40px;
            background: none;
            color: #f6f6f6;
            border: none;
            border-radius: 20px;
            text-align: center;
            box-shadow: inset 2px 2px 4px rgba(#000000, 0.8), inset -2px -2px 4px rgba(255, 255, 255, 0.5);
            font-size: 16px;

            &::placeholder {
                color: #f6f6f6;
            }
        }

        .el-radio-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;

            label {
                width: 80%;

                span:first-of-type {
                    display: none;
                }

                span:last-of-type {
                    @extend .btn,
                    .btn.submit;
                    width: 100% !important;
                }

                &.is-checked {
                    span:last-of-type {
                        @extend .btn.submit:active;
                    }
                }
            }
        }

        .login-btn-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .btn {
            width: 60px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.2s;

            &.submit {
                color: #F6F6F6;
                border-radius: 20px;
                box-shadow: 4px 4px 6px rgba(#000000, 0.6),
                    -2px -2px 4px rgba(255, 255, 255, 0.5);

                &:hover {
                    color: #949996;
                }

                &:active {
                    box-shadow: 0 0 0 #FFFFFF,
                        0 0 0 rgba(255, 255, 255, 0.5),
                        inset 2px 2px 4px rgba(#000000, 0.8),
                        inset -2px -2px 4px rgba(255, 255, 255, 0.5);
                }
            }

            &.text {
                color: #949996;

                &:hover {
                    color: #f6f6f6;
                }
            }
        }
    }
}